.searchPanel{
background:black;
font-size:20px;
color:white;
border:none;
border-bottom-width: 2px; 
border-bottom-style: solid;
border-bottom-color:rgb(223, 46, 84);
padding: 10px 0px;
width:100%;
}
.description{
    width:80%;
    margin:10%;
    font-size:20px;
    color:white;
}